/*General styles -start*/

*{ box-sizing:border-box;
     }

body {
        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
        
        color: #291f1a;
        font-weight: 300;
              }
/*General styles -end*/

/*Nawigation -start*/

nav#main-nav {
    width:100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    font-weight: 300;
}

#main-nav> ul  {
    float: right;
    margin:0;
     }
    
#main-nav> ul > li {
    display: inline-block;
    padding: 20px 40px;
}
        
#main-nav> ul > li > a {
   text-decoration: none;
    list-style-type:none;
     color: #1ac056;
}
#main-nav> ul > li > a:hover{
    color:#291f1a;
}
/*Nawigation -end*/

/*Header -start*/

#main-header {
    background-image: url("../img/header-background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}  

#main-header .main-header-content  {
    text-align: center;
    padding: 30vh;
}
    
#main-header .main-header-content h1 {
    font-weight: 300;
    font-family: "Roboco", sans-serif;
    font-size: 3em;
}
#main-header .main-header-content h2 {
    font-size: 2em;
    font-weight: 300;
}
#main-header .main-header-content h1 span {
    color:  #1ac056;
}
  
 /*Header -end*/   
    
    
/*Sekcja -start*/




/*Sekcja -end*/