/*General styles -start*/

*{ box-sizing:border-box;
     }

body {
        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
        color: #291f1a;
        font-weight: 300;
              }
/*General styles -end*/

/*Nawigation -start*/

nav#main-nav {
    width:100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    font-weight: 300;
}

#main-nav> ul  {
    float: right;
    margin:0;
     }
    
#main-nav> ul > li {
    display: inline-block;
    padding: 20px 40px;
}
        
#main-nav> ul > li > a {
   text-decoration: none;
    list-style-type:none;
     color: #1ac056;
}
#main-nav> ul > li > a:hover{
    color:#291f1a;
}
/*Nawigation -end*/