/*General styles -start*/

*{ box-sizing:border-box;
     }
/*ustalamy że zdjęcie będzie miało 200px, pomimo dodania marginesu, albo padding do zdjęcia, wtedy zdjęcie zostanie automatycznie zmniejszone, tak aby razem wyszło 200px*/
body {
        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
        color: #291f1a;
        font-weight: 300;
              }
/*General styles -end*/

/*Nawigation -start*/

nav#main-nav {
    width:100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    font-weight: 300;
}

#main-nav> ul  {
    float: right;
/* przesunie nam element w prawo */
    margin:0;
     }
    
#main-nav> ul > li {
    display: inline-block;
    padding: 20px 40px;
/*    odsunie nam 20px w dól i w górę oraz 40px w lewo i prawo, natomiast margines odsunie nam px od strony okna przeglądarki*/
}
        
#main-nav> ul > li > a {
   text-decoration: none;
    list-style-type:none;
     color: #1ac056;
}
#main-nav> ul > li > a:hover{
    color:#291f1a;
}
/*Nawigation -end*/

/*Header -start*/

#main-header {
    background-image: url("../img/header-background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}  

#main-header .main-header-content  {
    text-align: center;
    padding: 30vh;
}
    
#main-header .main-header-content h1 {
    font-weight: 300;
    font-family: "Roboco", sans-serif;
    font-size: 3em;
}

#main-header .main-header-content h2 {
    font-size: 2em;
    font-weight: 300;
}

#main-header .main-header-content h1 span {
    color:  #1ac056;
}
  
 /*Header -end*/   
    
    
/*Sekcja O mnie -start*/

#about {
    background-color: #f9fcfe;
    overflow: hidden;
    width:100%;
    padding: 0 80px 100px;
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 35px;
 }


#about h2 {
    text-align: center;
    
}
#about > figure {
    width: 50%;
    margin:0;
    float:left;
 
}
    
#about > figure > img {
    max-height: 350px;  
    border: 15px solid white;
    border-radius: 30px;
    text-align: center;
    max-width: 100%;
        }

#about > article {
    width: 50%;
    float: left; 
    margin: -30px;
    
}

#about > h2 > span {
    color: #1ac056;
}
    






/*Sekcja O mnie -end*/